{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Timeline{% endblock %}</h1>
  {% if g.user %}
    <a href="{{ url_for('shout.create') }}">Shout</a>
    <hr>
  {% endif %}
{% endblock %}

{% block content %}
  {% for shout in shouts %}
    <article>
        {% if g.user['id'] == shout['author_id'] %}
          <a href="{{ url_for('shout.update', id=shout['id']) }}">Edit</a>
        {% endif %}
      <p>{{ shout['shout'] }}</p>
      <div>@{{ shout['username'] }} on {{ shout['created'].strftime('%d-%m-%Y @ %H:%M') }}</div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}