{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Shout{% endblock %}</h1>
{% endblock %}

{% block content %}
<a href="{{ url_for('index') }}">Back</a>
  <form method="post">
    <label for="shout">Shout</label>
    <textarea name="shout" id="shout">{{ request.form['shout'] or shout['shout'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('shout.delete', id=shout['id']) }}" method="post">
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}